/* Container cho các sản phẩm nổi bật */
.featured-products-container {
  padding: 20px;
  background: linear-gradient(135deg, #ff512f, #dd2476);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  margin-bottom: 20px;
}

.title {
  font-size: 28px;
  text-align: start;
  margin-bottom: 20px;
  background: linear-gradient(to right, #4b0a84, #3c86e1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  margin-left: 40px;
}


/* Bao quanh các sản phẩm */
.featured-products {
  padding: 20px;
}