.namePage{
  text-align: center;
  padding: 20px !important;
}

.image {
  width: 120px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}

.btnCreateCategory{
  position: absolute;
  right: 10px;
  top: 110px
}

.btnDelete{
  margin-left: 10px;
}

.btnDelete:hover {
  background: crimson !important;
}